<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/loadSwimmer}" th:object="${swimmer}" method="post">
    <table>
        <tr>
            <td><p>Name: </p><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td><p>Gender: </p><input type="text" th:field="*{gender}"></td>
        </tr>
        <tr>
            <td><p>Age: </p><input type="number" th:field="*{age}"></td>
        </tr>
        <tr>
            <td><p>Distance: </p><input type="number" th:field="*{distance}"></td>
        </tr>
        <tr>
            <td><p>Style: </p><input type="text" th:field="*{style}"></td>
        </tr>
        <tr>
            <td><p>Time: </p><input type="number" th:field="*{time}"></td>
        </tr>
        <tr>
            <td><input type="submit" value="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>